html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body * {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

article {
  padding-top: 80px;
  margin-bottom: 120px;
}
.article-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
 
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
  max-width: 596px;
}

.article-large{
     font-size: 48px;
}

.title-2nd{
    font-size: 36px;
}


.article-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}

.article-mb{
    margin-bottom: 80px;
}

.article-img{
    width: 100%;
    height: 512;
    margin-bottom: 88px;
}

.article-list{
    margin-top:0;
    padding-left: 14px;

}

.article-points{
    margin-bottom: 12px;
}

.article-video{
    width: 100%;
    margin-bottom: 40px;
}

